<div class="row mt-3">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <form class="form-signin" (ngSubmit)="login()">
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="username" class="sr-only">Username</label>
        <input type="text" id="username" class="form-control" name="name" [(ngModel)]="user.name" placeholder="Username"
          required autofocus>
        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" class="form-control" name="password" [(ngModel)]="user.password" placeholder="Password"
          required>
          <div class="col-lg">
            <button class="btn btn-success btn-block" id="sign_in" type="submit">Sign in</button>
            <button class="btn btn-primary btn-block" id="register" (click)="openRegistration()">Sign up</button>          
          </div>
        </form>
      <div *ngIf=wrongUsernameOrPass class="alert alert-warning box-msg" role="alert" id="errorMsg">
        Wrong username or password.
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
  